<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href="" rel="stylesheet" th:href="@{/css/navigation.css}">
    <link href="" rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="topnav">
    <a href="/home">Домашняя страница</a>
    <a href="/save-domains">Домены</a>
    <a href="/save-page">Страницы</a>
    <a href="/save-filters">Фильтры</a>
    <a href="/tokens">Токены</a>
    <a href="/faq" class="active">FAQ</a>
    <a href="/test-widget">Тестирование виджета</a>
    <a href="/test-filters">Тестирование фильтра</a>
    <a class="profile" href="/profile">Профиль</a>
</div>
<div class="container">
    <div class="features">
        <div class="feature">
            <h2>FAQ</h2>
            <h3>Как начать использовать голосовое управление на моем сайте?</h3>
            <p>Для начала вам нужно зарегистрироваться в нашем приложении и создать свою
                персональную модель машинного обучения. Затем вам будет предоставлен специальный
                виджет, который вы сможете легко интегрировать на свой веб-сайт.</p>

            <h3>Поддерживается ли распознавание речи на всех языках?</h3>
            <p>Мы поддерживаем более 140 языков и диалектов, что делает наше голосовое управление
                доступным для пользователей по всему миру. Однако, возможно, некоторые редкие или
                малоиспользуемые языки могут иметь ограниченную поддержку.</p>

            <h3>Могу ли я настроить специфические команды для моего сайта?</h3>
            <p>Да, наша система позволяет создавать персонализированные команды, адаптированные под
                конкретные потребности вашего сайта. Вы можете настроить команды для поиска товаров,
                навигации по страницам и многого другого.</p>

            <h3>Какова стоимость использования вашего инструмента?</h3>
            <p>Мы предлагаем различные тарифные планы в зависимости от потребностей вашего бизнеса.
                Свяжитесь с нашей командой поддержки, чтобы узнать подробности о ценах и условиях
                использования.</p>

            <h3>Как обеспечивается безопасность персональных данных пользователей?</h3>
            <p>Мы серьезно относимся к вопросам конфиденциальности и безопасности данных. Все
                персональные данные защищены согласно высоким стандартам безопасности, и мы строго
                соблюдаем законы о защите данных пользователей.</p>
        </div>
    </div>
</div>
</body>
</html>
