<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Voice assistant</title>
    <link href="" rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/scripts/script.js}" type="text/javascript"></script>
</head>

<body>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="body">
    <button id="chat-circle" th:onclick="toggleDiv()"><img id="exit-icon"
                                                           th:src="@{/images/cross-icon-white.png}">
    </button>
    <div id="chat-box">
        <div id="chat-box-header"> Управление сайтом</div>
        <div id="chat-box-header-line"></div>
        <div class="chat-box-search-container">
            <input class="chat-box-search-input" id="searchbar" placeholder="Поиск команд" th:onkeyup="search()"
                   type="text"> <img alt="search"
                                                    class="chat-box-search-icon"
                                                    th:src="@{/images/search-magnifier-icon-white.png}">
        </div>
        <div class="chat-box-body" id="main-chat-box">
        </div>
        <button id="voice-circle"><img id="voice-icon"
                                       th:src="@{/images/record-off-icon-white.png}"></button>
    </div>
</div>

<script th:src="@{/scripts/recording.js}" type="text/javascript"></script>
</body>
</html>
