<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Домашняя страница</title>
    <meta charSet="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="" rel="stylesheet" th:href="@{/css/navigation.css}">
    <link href="" rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Домашняя страница</a>
    <a href="/save-domains">Домены</a>
    <a href="/save-page">Страницы</a>
    <a href="/tokens">Токены</a>
    <a href="/faq">FAQ</a>
    <a href="/test-widget">Тестирование</a>
</div>

<div class="container">
    <h1>Проект Голосового Управления</h1>
    <p>Добро пожаловать на домашнюю страницу проекта голосового управления! Наш инновационный
        инструмент позволяет использовать голосовые команды для управления веб-сайтами, делая
        онлайн-пространство доступным и удобным для всех.</p>

    <div class="features">
        <div class="feature">
            <h2>Управление сайтами с помощью голосовых команд</h2>
            <p>Наш инструмент позволяет пользователям управлять сайтами с помощью голосовых команд,
                делая интерфейс более интуитивным и удобным для всех.</p>
        </div>
        <div class="feature">
            <h2>Распознавание речи на различных языках и диалектах</h2>
            <p>Мы поддерживаем распознавание речи более чем на 140 языках и диалектах, обеспечивая
                беспрепятственное взаимодействие с пользователями со всего мира.</p>
        </div>
        <div class="feature">
            <h2>Удобство и персонализация</h2>
            <p>Каждый владелец сайта может создать персональную модель машинного обучения для
                оптимального распознавания запросов и интегрировать специальный виджет для
                голосового управления на свой сайт.</p>
        </div>
        <div class="feature">
            <h2>Преимущества нашего проекта</h2>
            <p>Почему выбор именно нашего проекта самый лучший?</p>
            <ul>
                <li>Точность и надежность: Мы используем передовые технологии распознавания речи,
                    обеспечивая точное и надежное выполнение команд.
                </li>
                <li>Гибкость и универсальность: Наш инструмент поддерживает широкий спектр языков и
                    диалектов, а также может быть легко интегрирован в различные типы веб-сайтов.
                </li>
                <li>Персонализация: Владельцы сайтов могут создавать уникальные модели машинного
                    обучения для оптимальной адаптации к потребностям своих пользователей.
                </li>
                <li>Простота использования: Наш интерфейс интуитивно понятен и легок в
                    использовании, делая работу с веб-сайтами более эффективной и приятной.
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
