<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Domain list</title>
    <meta charSet="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&amp;display=swap"
          rel="stylesheet"/>
    <style media="only screen">
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
        }

        html {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            overflow: auto;
        }

        #myGrid {
           margin: 10px;
        }
    </style>
    <link href="" rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
<body>
<div class="topnav">
    <a href="/home">Домашняя страница</a>
    <a class="active" href="/save-domains">Домены</a>
    <a href="/save-page">Страницы</a>
    <a href="/tokens">Токены</a>
</div>

<div id="myGrid" style="height: calc(100% - 120px)" class="ag-theme-quartz"></div>
<button class="btn btn-outline-primary btn-sm" id="addRowBtn">Добавить</button>
<button class="btn btn-outline-primary btn-sm" onclick="sendData()">Отправить</button>
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.1.1/dist/ag-grid-community.min.js"></script>
<script>
    let gridApi;

    const gridOptions = {
        rowData: [],
        columnDefs: [
            {headerName: "Домен", field: "domain", editable: true, width: 500},
            {
                headerName: '',
                field: 'language',
                width: 330,
                cellRenderer: function (params) {
                    const languages = [
                        { id: '1', name: 'Пожалуйста, выберите язык' },
                        { id: '2', name: 'Afrikaans South Africa' },
                        { id: '3', name: 'Albanian Albania' },
                        { id: '4', name: 'Amharic Ethiopia' },
                        { id: '5', name: 'Arabic Tunisia' }
                        // добавьте другие языки по мере необходимости
                    ];

                    const languageDropdown = document.createElement('select');
                    languageDropdown.id = 'languageDropdown';
                    languageDropdown.addEventListener('change', function () {
                        const selectedLanguage = this.options[this.selectedIndex].text;
                        params.data.language = selectedLanguage;
                    });

                    languages.forEach(language => {
                        const option = document.createElement('option');
                        option.value = language.id;
                        option.textContent = language.name;
                        languageDropdown.appendChild(option);
                    });

                    return languageDropdown.outerHTML;
                }
            },
            {
                headerName: '',
                field: 'delete',
                width: 110,
                cellRenderer: function (params) {
                    return '<button class="btn btn-outline-danger btn-sm" onclick="deleteRow(' + params.node.rowIndex + ')">Удалить</button>';
                }
            },
        ],
        defaultColDef: {
            filter: 'agTextColumnFilter',
            floatingFilter: true,
        },
        rowSelection: 'multiple',
        suppressRowClickSelection: true,
        pagination: true,
        paginationPageSize: 15,
        paginationPageSizeSelector: [15, 30, 45],
    };

    const gridDiv = document.querySelector('#myGrid');
    gridApi = agGrid.createGrid(gridDiv, gridOptions);

    fetch('/get-domains', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => {
            if (response.status === 200) {
                return response.json();
            }
            else {
                throw new Error('Failed to load domains list');
            }
        }
    ).then(body => {
            gridApi.setGridOption('rowData', body);
        }
    );


    document.addEventListener('DOMContentLoaded', function () {
        const addRowBtn = document.getElementById('addRowBtn');
        addRowBtn.addEventListener('click', function () {
            const newRowData = {domain: ""};
            gridApi.applyTransaction({add: [newRowData]});
            if (!gridApi.rowData) {
                gridApi.rowData = [];
            }
            gridApi.rowData.push(newRowData);
        });
    });

    gridApi.addEventListener('cellValueChanged', function (event) {
        if (event.column.colId === 'language') {
            let selectedLanguage = event.data.language;
            if (selectedLanguage !== undefined) {
                event.node.data.language = selectedLanguage;
            }
        }
    });

    function sendData() {
        let domains = [];
        //23423423
        gridApi.forEachNode(node => {
            // Получаем данные строки
            let rowData = node.data;
            // Получаем выбранный язык из ячейки 'language'
            let selectedLanguage = rowData.language;
            // Добавляем язык к данным строки
            rowData.language = selectedLanguage;
            // Добавляем данные строки в массив
            domains.push(rowData);
        });

        // Отправляем данные на сервер
        fetch('/save-domain', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(domains)
        });

        // Перенаправляем пользователя на страницу "/save-page"
        window.location.href = "/save-page";
    }

    function deleteRow(rowIndex) {
        gridApi.applyTransaction({remove: [gridApi.getRowNode(rowIndex).data]});
    }
</script>
</body>
</html>
