<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Domain list</title>
    <meta charSet="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&amp;display=swap"
          rel="stylesheet"/>
    <style media="only screen">
        html, body {
            height: 850px;
            width: 665px;
            margin: 0;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
        }

        html {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            overflow: auto;
        }

        body {
            padding: 16px;
            overflow: auto;
            background-color: transparent
        }
    </style>
</head>
<body>
<div id="myGrid" style="height: calc(100% - 40px)" class="ag-theme-quartz"></div>
<button class="btn btn-outline-primary btn-sm" id="addRowBtn">Добавить</button>
<button class="btn btn-outline-primary btn-sm" onclick="sendData()">Отправить</button>
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.1.1/dist/ag-grid-community.min.js"></script>
<script>
    let gridApi;

    const gridOptions = {
        rowData: [],
        columnDefs: [
            {headerName: "Домен", field: "domain", editable: true, width: 500},
            {
                headerName: '',
                field: 'delete',
                width: 110,
                cellRenderer: function (params) {
                    return '<button class="btn btn-outline-danger btn-sm" onclick="deleteRow(' + params.node.rowIndex + ')">Удалить</button>';
                }
            },
        ],
        defaultColDef: {
            filter: 'agTextColumnFilter',
            floatingFilter: true,
        },
        rowSelection: 'multiple',
        suppressRowClickSelection: true,
        pagination: true,
        paginationPageSize: 15,
        paginationPageSizeSelector: [15, 30, 45],
    };

    const gridDiv = document.querySelector('#myGrid');
    gridApi = agGrid.createGrid(gridDiv, gridOptions);

    fetch('/get-domains', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => {
            if (response.status === 200) {
                return response.json();
            }
            else {
                throw new Error('Failed to load domains list');
            }
        }
    ).then(body => {
            gridApi.setGridOption('rowData', body);
        }
    )


    document.addEventListener('DOMContentLoaded', function () {
        const addRowBtn = document.getElementById('addRowBtn');
        addRowBtn.addEventListener('click', function () {
            const newRowData = {domain: ""};
            gridApi.applyTransaction({add: [newRowData]});
            if (!gridApi.rowData) {
                gridApi.rowData = [];
            }
            gridApi.rowData.push(newRowData);
        });
    });


    function sendData() {
        let domains = [];

        gridApi.forEachNode(node => {
            domains.push(node.data);
        });

        fetch('/save-domain', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(domains)
        });
    }

    function deleteRow(rowIndex) {
        gridApi.applyTransaction({remove: [gridApi.getRowNode(rowIndex).data]});
    }
</script>
</body>
</html>
